.areaPaciente { width: 85%; min-height: 100px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 24.5px; }

.areaImagemPaciente { margin-left: 5px; margin-top: 10px; width: 23%; height: 77px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center;}

/* .imgPaciente { max-width: 72px; height: 69px; border-radius: 50%; margin-left: 11.5px; margin-top: 7px; } */

.nomePaciente { width: 150px; min-height: 17px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; float: left; margin-top: 14px; margin-left: 27px; }

.enderecoPaciente { width: 62%; min-height: 14px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 13px; line-height: 15px; float: left;  margin-left: 9%; margin-top: 7px; display: inline;}

