* { margin: 0; padding: 0; }

a { text-decoration: none;}

body { background: #E5E5E5; }

.conteudoCuidador {width: 60%;margin-left: 20%;background-color: #2980B9; margin-top: 30px; border-radius: 10px; border-style: none; padding-top: 10px; padding-bottom: 24px}

.areaCuidador { width: 85%; height: 100px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaImagemCuidador {  width: 12%; height: 80px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 10px;  margin-top: 2px; }

.areaNomeCuidador {  margin-top: 5px; height: 90px; width: 150px; float: left; margin-left: 15px;}

.areaInfoCuidador {width: 85%; height: 150px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaCuidador h3 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 21px; margin-top: 5px;}

.areaBotao { width: 120; height: 40px; position: relative; top: 2px; left: 250px}

.btnServicos { position: relative; top: 0px; left: 110px ;background: #285593; border-radius: 10px; width: 150px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: white; cursor: pointer;}

.tituloConteudo {font-family: Rubik; color: white; font-size: 20px; margin-top: 10px; text-align: center}

.areaInfoBasicas{margin-top: 10px; height: 140px; width: 80%; float: left; margin-left: 25px;}

.areaInfoCuidador span {position: relative; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 15px; line-height: 30px;}

.areaInfoTrabalho {margin-top: 10px; height: 140px; width: 80%; float: left; margin-left: 25px;}

.areaInfoOcorrencias {width: 85%; height: 100px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaDadosOcorrencias {margin-top: 10px; height: 90px; width: 80%; float: left; margin-left: 25px;}

.areaDadosOcorrencias span {position: relative; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 15px; line-height: 30px; margin-left: 2px ;float: left}

.btnOcorrencias {position: relative; left: 40.2%;background: #285593; border-radius: 5px; width: 150px; height: 30px; border-style: none; font-family: Rubik; font-style: normal; font-weight: normal; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}

.btnAdvertencias {position: relative; top: 35px; left: 60% ;background: #285593; border-radius: 5px; width: 150px; height: 30px; border-style: none; font-family: Rubik; font-style: normal; font-weight: normal; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}

.areaInfoStatus {margin-top: 10px; height: 140px; width: 80%;}

.areaInfoStatus span {position: relative; top: 10px ;left: 200px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 15px; line-height: 30px;}

.areaBotaoStatus { width: 400; height: 40px; position: relative; top: 25px;}

.btnRemoveSuspensao {background: #27AE60; border-radius: 10px; width: 200px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}

.btnBanir {background: #646464; border-radius: 10px; width: 200px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}


