* { margin: 0; padding: 0; }

a { text-decoration: none;}

body { background: #E5E5E5; }

.filtro input {margin-top: 15px;margin-left: 42px; width: 310px; height: 25px; font-family: "Roboto"; font-size: 18px}

.listaCuidadores {width: 60%;margin-left: 20%;background-color: #2980B9; margin-top: 10%; border-radius: 10px; border-style: none; padding-top: 10px; padding-bottom: 24px}

.areaCuidador { width: 85%; height: 100px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaImagemCuidador {  width: 12%; height: 80px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 10px;  margin-top: 2px; }

.areaInfoCuidador {  margin-top: 5px; height: 90px; width: 150px; float: left; margin-left: 15px;}

.areaCuidador h3 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 21px; margin-top: 5px;}

.status {font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 14px;}

.statusAtivo {font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 14px; margin-left: 4px; color: #27AE60; }

.statusSuspenso { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 14px; margin-left: 4px; color: #DD570B; }

.statusBanido { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 14px; margin-left: 4px; color: #FB0D0D; }

.areaCuidador span { position: relative; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 15px; line-height: 15px; }

.iconeCifrao { position: relative; top: 3px; left: 3px}

.iconeMaleta {  position: relative; top: 7px; }

.iconeInformacao {height: 25px; width: 25px; position: relative; top: 7px; float: right; padding-right: 5%}

.btnRemoveSuspensao {background: #2980B9; border-radius: 10px; width: 100px; height: 30px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; color: white; cursor: pointer; position: relative; left: 40px; top: 10px; }

