* { margin: 0; padding: 0; }

a { text-decoration: none;}

body { background: #E5E5E5; }

.conteudoCuidador {width: 60%; height: 600px;margin-left: 20%;background-color: #2980B9; margin-top: 30px; border-radius: 10px; border-style: none; padding-top: 10px; padding-bottom: 24px}

.areaCuidador { width: 85%; padding-bottom: 40px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaImagemCuidador {  width: 12%; height: 80px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 45px;  margin-top: 15px; }

.areaNomeCuidador {  margin-top: 5px; height: 90px; width: 68%; float: left; margin-left: 15px;}

.areaInfoCuidador {width: 85%; height: 150px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaCuidador h3 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 21px; margin-top: 42px;}

.areaBotao { width: 120; height: 40px; position: relative; top: 2px; left: 250px}

.btnServicos { position: relative; top: 0px; left: 110px ;background: #285593; border-radius: 10px; width: 150px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: white; cursor: pointer;}

.tituloConteudo {font-family: Rubik; color: white; font-size: 20px; margin-top: 10px; text-align: center}

.areaInfoBasicas{margin-top: 10px; height: 140px; width: 95%; float: left; margin-left: 25px;}

.areaInfoCuidador span {position: relative; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 15px; line-height: 30px;}

.areaInfoTrabalho {margin-top: 10px; height: 140px; width: 80%; float: left; margin-left: 25px;}

.areaBotoes {width: 800px; height: 40px; position: relative; top: 20px; left: 200px;}

.btnContratarCuidador {background: #27AE60; border-radius: 10px; width: 200px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}

.btnRecusarCuidador {background: #9D2F42; border-radius: 10px; width: 200px; height: 40px; border-style: none; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; color: white; cursor: pointer;}
