* { margin: 0; padding: 0; }

body { background: #2980B9; }

.areaLogo { width: 75%;max-width:500px;margin:0 auto; }

.areaLogo img { width: 100%; margin:0 auto;}

.areaForm { padding: 5%; width: 80%; background: #F4F4F4; border-radius: 14px; margin: 0 auto; margin-top: 25px; ;}

.areaForm h1 { width:100%;font-family: Rubik One; text-align:center; font-weight: normal; font-size: 24px; line-height: 30px; text-align: center; color: #285593;text-align:center;padding:10px 0; }

.areaForm label { padding: 5px; width: 80%; font-family: Rubik; font-style: normal; font-weight: normal; font-size: 16px; line-height: 19px; margin:0 auto; color: #000; display:block;}

.areaForm p { margin-top: 10px;  width: 94%; font-family: Rubik; font-style: normal; font-weight: normal; font-size: 16px; line-height: 19px; color: #000;text-align:center;}

.areaForm input { background: rgba(40, 85, 147, 0.3); border-radius: 6px; border-style: none; width: 80%; height: 41px; display: block;margin: 0 auto }

.areaForm button { display:block;background: #285593; border-radius: 10px; border-style: none; width: 80%; height: 48px; font-family: Rubik;font-weight:bold; font-size: 20px; color: #F1F1F1;margin:0 auto;margin-top: 25px;}
    
#crieAgora{color: #285593; font-family: Rubik;}