.tituloServicoAtual {margin-top: 35%; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; text-align: center; color: black; }

.areaInfoPaciente { width: 87%; height: 125px; border-radius: 10px;  background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-top: 23px; margin-left: 25px;  }

.areaImagemPaciente {  width: 23%; height: 77px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 18px;  margin-top: 12px; }

.areaDadosPaciente { width: 67%; height: 125px; float: right; }

.nomePaciente { margin-top: 12px; margin-left: 5px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; }

.necessidadePaciente { margin-left: 5px; margin-top: 5px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 13px; line-height: 15px; }

.enderecoPaciente { margin-left: 5px; margin-top: 5px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 13px; line-height: 15px; }

.areaMapa { width: 87%; height: 195px; margin-top: 23px; margin-left: 25px; }

.btnCheckin { margin-top: 10px; margin-left: 84px; width: 187px; height: 40px; background: #27AE60; border-radius: 10px; border-style: none; font-family: Archivo; font-style: normal; font-weight: bold; font-size: 18px; line-height: 20px; text-align: center; color: white;}

.btnCheckout { margin-top: 10px; margin-left: 84px; width: 187px; height: 40px; background: #9D2F42; border-radius: 10px; border-style: none; font-family: Archivo; font-style: normal; font-weight: bold; font-size: 18px; line-height: 20px; text-align: center; color: white;}