.container { margin: 150px auto; }

.botoes { margin: 0 auto;display: block;width: 90%; }

.btnAdicionar,.horarioDisponibilidade{margin: 0 auto;display: block;width: 85%;margin-bottom: 10px;}

#wrapper-calendarioDisponibilidade { display: none; }
