#wrapper-InfoServicoAgendado{ display: none; }

.areaAgendaHeader { width: 100%; height: 90px; }

.spanAgenda { position: absolute; top: 27%; left: 6%;font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #646464; }

.spanData { position: absolute; top: 27%; left: 28.5%;font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #646464; }

.imgAgenda { margin-left: 41px; margin-top: 17px; float: left; }

.imgBolinha { margin-left: 11px; margin-top: 28px; float: left;}

.areaImagemPaciente { width: 15%; height: 55px; float: left; background-size: cover; border-radius: 50%; background-position: center; border: 2px solid #27AE60; margin-top: 5px; margin-left: 9px;}

.areaAgendaConteudo { width: 311px; height: 170px; border-radius: 10px; background-color: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-left: 24.5px; margin-top: 17px;}

.dataAgendamento { font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; position: relative; top: -15%; left: 5%;}

.areaDataAgendamento { width: 80%; border-bottom: 1px solid black; height:30px; padding: 5px; margin-left: 22px; margin-top: 13px; margin-bottom: 8px;}

.areaImagemPacienteAgendamento { width: 22%; height: 66px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 15px;  margin-top: 25px; }

.areaDadosServico { width: 85%; }

.nomePaciente { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; margin-left: 29.5px;}

.necessidadePaciente { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 15px; margin-left: 29.5px;}

.infoPaciente { float: right; margin-right: -39px; margin-top: 5px; width: 191px;;font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 15px; }

.areaStatus { width: 85%; height: 20px; float: left; margin-left: 111px; margin-top: 3px;  }

.status {  font-family: Roboto; font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; }

.statusServico {  font-family: Roboto; font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; color: #27AE60; }

.btnCancelarServico { margin-left: 112px; margin-top: 13px; color: #F0F0F7; font-family: Archivo; font-style: normal; font-weight: bold; font-size: 16px; line-height: 17px; text-align: center; width: 145px; height: 30px; border-style: none; background: #9D2F42; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; }
