* { margin: 0; padding: 0; }

#wrapper-SegundoCadastroCuidador { display:  none; }

#wrapper-TerceiroCadastroCuidador { display:  none; }

#wrapper-QuartoCadastroCuidador { display:  none; }


body { background: #2980B9; }

header { width: 100%; height: 30px; }

.areaVoltar { margin-left: 20px; margin-top: 40px; width: 10%; float: left; }

.areaLogo { float: left; margin-top: 13px; margin-left: 100px; }

.areaForm { width: 80%; height:400px; background: #F2F2F2; border-radius: 10px; margin-left: 35px; margin-top: 100px; }

.areaForm h1 { font-family: Rubik One; font-style: normal; font-weight: normal; font-size: 24px; line-height: 30px; text-align: center; color: #285593; margin-left: 10px; padding: 10px;}

.areaForm p { font-family: Rubik; font-style: normal; font-weight: normal; font-size: 16px; line-height: 19px;  padding: 5px; margin-left: 16px; }

.areaForm input { margin-left: 20px; width: 85%; } 

.areaForm select { margin-left: 20px; width: 85%; } 

.areaFormInput { background: rgba(40, 85, 147, 0.3); border-radius: 6px; border-style: none; height: 30px;} 

.areaForm button { background: #285593; border-radius: 10px; border-style: none; font-family: Rubik One; font-style: normal; font-weight: normal; font-size: 20px; line-height: 25px; text-align: center; color: #F2F2F2; width: 85%; height: 43px; margin-top: 10px; margin-left: 19px;}