* { margin: 0; padding: 0; }

a { text-decoration: none;}

body { background: #E5E5E5; }

.conteudoCuidador {width: 60%;margin-left: 20%;background-color: #2980B9; margin-top: 30px; border-radius: 10px; border-style: none; padding-top: 10px; padding-bottom: 24px}

.areaCuidador { width: 85%; height: 100px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaImagemCuidador {  width: 12%; height: 80px; float: left; position: relative; background-size: cover; border-radius: 50%; background-position: center; margin-left: 10px;  margin-top: 2px; }

.areaNomeCuidador {  margin-top: 5px; height: 90px; width: 150px; float: left; margin-left: 15px;}

.areaServico {width: 85%; min-height: 172px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 14px; margin-left: 7.5%;}

.areaCuidador h3 { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 20px; line-height: 21px; margin-top: 5px;}

.tituloConteudo {font-family: Rubik; color: white; font-size: 20px; margin-top: 10px; text-align: center}

.areaInfoServico {height: 140px; width: 550px; margin-top: 5px; margin-left: 15px }

.areaInfoServico span{position: relative; font-family: Rubik; font-style: normal; font-weight: normal; font-size: 15px; line-height: 30px; padding: 2px }

.tituloServico {position: relative; left: 15px}

.tituloServico span{font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 21px; padding: 2px }

.finalziado { color: #27AE60; }

.pendente { color: #DD570B; }

.cancelado { color: #FB0D0D; }