#body { background: rgba(41, 128, 185, 0.8); }

.areaServicoEncontrado { width: 100%; height: 125px; background: #1F618C; margin-top: 29.5%; }

.tituloServicoEncontrado { position: relative; top: 3%; color: #FFFFFF;  font-family: Rubik; font-style: normal; font-weight: bold; font-size: 20px; line-height: 24px; text-align: center; color: #FFFFFF; }

.nomePacienteServicoEncontrado { margin-top: 8px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 14px; line-height: 17px; text-align: center; color: #FFFFFF; }

.areaInfoServicoEncontrado { margin-top: 5px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 14px; line-height: 17px; text-align: center; color: #FFFFFF; }

.btnVerMaisServicoEncontrado { margin-left: 90px; margin-top: 10px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #FFFFFF; border-style: none; width: 183px; height: 30px; background: #646464; border-radius: 5px; }

.areaDisponibilidade { position: absolute; width: 243px; height: 138px; left: 53px; top: 251px; background: #9D2F42; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; }

.areaDisponibilidade h3 { width: 121px; height: 38px; margin-left: 58px;font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; text-align: center; color: #FFFFFF; }

.areaDisponibilidade img { margin-top: 21px; margin-left: 100px; margin-bottom: 4px; }

.areaDetalhesInformacaoPaciente { width: 85%; height: 338px; background: #F1F1F1; border-radius: 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-top: 40%; margin-left: 29px;}

.tituloInfoPaciente { margin-top: 13px; margin-left: 53px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #646464; }

.areaDadosDetalhe {  width: 70%; height: 80px; float: right; margin-top: 10px; }

.nomePacienteDetalhes { margin-left: 20px; margin-top: 10px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 19px; margin-bottom: 5px;}

.necessidadePacienteDetalhes { margin-left: 20px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 19px; }

.necessidadePaciente { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; }

.areaDescricaoDetalhe { width: 100%; min-height: 40px; float: left; margin-top: 5px; border-bottom: 1px solid black; margin-bottom: 5px; }

.tituloDescricao { margin-left: 10px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 19px; }

.descricao { margin-left: 10px; margin-top: 5px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; }

.areaInfoServicoDetalhe { width: 100%; height: 170px; float: left; }

.areaDetalhe { margin-top: 8px; width: 100%; }

.dadosDetalhe { margin-left: 10px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 19px; }

.dadosServicoDetalhe {  font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; }

#areaImagemDetalhes{ margin-left:15px; }

.btnRecusar { width: 142px; height: 34px; background: #9D2F42; border: 0.3px solid #646464; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #FAFAFA; border-style: none; margin-left: 25px;}

#copiarEndereco { width: 142px; height: 34px; background: #2980B9; border: 0.3px solid #646464; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #FAFAFA; border-style: none; margin: 15px auto; display: block; }