
.areaInfoPaciente { width: 88%; min-height: 180px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-left: 23px; margin-top: 8px; }

.areaDadosInfoPaciente { width: 78%; height: 160.48px; margin-left: 22%; }

.nomeInfoPaciente { margin-left: 35px; position: relative; top: 15%; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; }

.necessidadeInfoPaciente { font-family: Roboto; font-style: normal; font-size: 14px; line-height: 14px; position: relative; top: 16%; left: 8.1%; }

.areaDescricaoInfo { font-family: Roboto; font-style: normal; font-size: 12px; line-height: 14px; width: 290px; height: 77px; position: relative; top: 40%; left: -30%;}

.areaLocalizacaoPaciente { width: 88%; height: 176px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-left: 23px; margin-top: 5px; font-family: Roboto; font-style: normal; font-size: 12px; line-height: 14px; }

.areaInfoLocal { margin-top: 5px; width: 100%;}

.infoLocal { font-family: Roboto; font-style: normal; font-weight: bold; font-size: 16px; line-height: 19px; margin-left: 10px; }

.infoDados { font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; }

.verMapa { margin-left: 95px; margin-top: 20px; width: 125px; height: 27px; border-radius: 10px; border-style: none; background: #285593; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.areaInformacoesServico { width: 311px; height: 95px; background: #F1F1F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-left: 26px; margin-top: 8px; }

.areaInfoServico { margin-top: 10px; width: 100%; }

.dadosInfoServico { font-family: Roboto; font-style: normal; font-size: 14px; line-height: 14px; font-weight: bold; margin-left: 10px; }

.infoServico { font-family: Roboto; font-style: normal; font-size: 14px; line-height: 14px;  }

.areaEstimativa { width: 90%; border-top: 1px solid black; padding: 5px; margin-left: 8px; margin-top: 5px;}

.estimativa { font-family: Roboto; font-style: normal; font-size: 14px; line-height: 16px; }

#descricao {     margin-left: 15px; }