.areaFormulario { width: 317px; height: 268px; margin-top: 12px; margin-left: 20.5px;  }

.areaDados { margin-top: 15px; }

.areaBotao{width:100%;}

.tituloDados { width: 72px; height: 23px; font-family: Rubik; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; color: #646464; }

.txtDados { width: 226px; height: 41px; background: rgba(240, 240, 247, 0.65); border: 1px solid #646464; box-sizing: border-box; border-radius: 6px; margin-left: 21px;}
